/* styles.css */

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; /* Optionally set a minimum height for vertical centering */
  }
  