/* packageby-regex.component.css */

.package-search-container {
    width: 66%; /* 2/3 of the page width */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the box sizing */
    text-align: center; /* Center the content */
  }
  
  label {
    display: block;
    text-align: left; /* Align label text to the left */
    margin-top: 10px; /* Adjust top margin for spacing */
  }
  
  #regexInput {
    width: calc(100% - 16px); /* Adjusted width to consider padding */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding and border in the box sizing */
  }
  
  button {
    width: calc(100% - 16px); /* Adjusted width to consider padding */
    background-color: #1d20b9;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; /* Make button display inline */
    margin-bottom: 10px; /* Add margin below the button */
  }
  
  button:hover {
    background-color: #16188D; /* Darker color on hover */
  }
  
  .package-list {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  