<!-- registration.component.html -->

<link rel="stylesheet" href="./registration.component.css">

<div class="registration-container">
  <h2>Register</h2>
  <form>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" />
    </div>

    <button (click)="registerUser()">Register</button>
  </form>

  <!-- Confirmation message -->
  <div *ngIf="isRegistered" class="confirmation-message">
    User successfully registered! You can now
    <button class="login-link" routerLink="/login">login</button>.
  </div>
</div>
