<!-- login.component.html -->

<link rel="stylesheet" href="./login.component.css">
<div class="login-container">
    <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" />
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
      </div>
  
      <button type="submit">Login</button>
    </form>
</div>
