/* packages.component.css */

.form-container {
  max-width: 66%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #1d20b9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #16188D;
  }
  
  .package-list-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .package-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .package-name {
    font-weight: bold;
  }


  .package-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  